<% layout("/layouts/boilerplate.ejs") %>
<%= success %>
<body>
    <h1>Listings</h1>

    <form action="/listings/new">
        <button type="submit">New Listing</button>
    </form>

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let listings of allListings) { %>
        <div class="col mb-4">
            <a href="/listings/<%= listings._id %>" class="Listing-link">
                <div class="card h-100">
                    <img src="<%= listings.image.url %>" class="card-img-top" alt="listingsImage" style="height:20rem">

                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listings.title %></b>  <br>
                            <%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(listings.price) %>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</body>
