<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h2>Seperate Listings</h2>

    <div class="card" class="offset-4 " style="width: 18rem;">
        <img src="<%= listings.image.url %>" class="card-img-top" alt="no image">
        <div class="card-body">
          <h5 class="card-title"><%= listings.title %></h5>
          <p class="card-text">   <ul>
            <li><strong>Title:</strong> <%= listings.title %></li>
            <li><strong>Description:</strong> <%= listings.description %></li>
            <li><strong>Price:</strong> <%= listings.price.toLocaleString("en-IN", { style: 'currency', currency: 'INR' }) %></li>
            <li><strong>Location:</strong> <%= listings.location %></li>
            <li><strong>Country:</strong> <%= listings.country %></li>
        </ul>

        <div class="buttons" class="row">
          <div class="col-md-4">
        <button class="btn btn-dark offset-2" ><a href="/listings/<%= listings._id %>/edit">edit</a></button>
         </div>
         <div class="col-md-12">
        <form method="post" action="/listings/<%= listings._id %>?_method=DELETE">
            <button class="btn btn-dark offset-2">delete</button>
        </form>
      </div>
      </div>
      
      </p>
        
        </div>
      </div>

      <form method="post" action="/listings/<%= listings._id %>/review" >
        <h4>rating:</h4>
        <input type="range" min="1" max="5" name="review[rating]">
        <br>
        <h4>leave your comment:</h4>
         <textarea  type="text" name="review[comment]"></textarea>
         <br>

         <button type="submit">submit</button>
      </form>



 <h3>All Reviews</h3>

 <% for(let r of listings.reviews){ %> 

  <ul>
    <li><%= r.comment %></li>
    <li><%= r.rating %></li>
    
  </ul>
<% } %>


</body>
